h3
  | {{::reply.user.name}} &nbsp;
  i.ion-ios-clock-outline &nbsp;
  | {{::reply.formatted.createdStr}}
p.long-read.item-text-wrap {{reply.data.text}}              
p
  &nbsp;
  span(ng-if="::reply.formatted.canEdit")
    a.subdued(ng-click="board.removeReply(board.data.currentThread, reply)")
      i.icon.ion-trash-b &nbsp; #{resources.str.remove }
    a.subdued(ng-click="board.openReplyModal(reply, 'edit', board.data.currentThread)")
      i.icon.ion-edit &nbsp; #{resources.str.edit}
