.list(collection-repeat-container-element)
    .item.item-text-wrap.item-cr(collection-repeat="reply in board.data.currentThread.replies track by reply._id" collection-item-width="'100%'"
              collection-item-height="getReplyHeight(reply)" style="width: 101%") 
        include reply-item