lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map
*.js
*.html

pids
logs
results
build
.grunt
node_modules
.idea

plugins
platforms

www/index.html
www/lib
www/js
src/coffee/configs

!www/fixes/*.js


app.config.coffee

res/icon
res/screen

.*/

!newrelic.js
!hooks/after_prepare/clean_bower.js
!hooks/after_prepare/icons_and_plash.js
