<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.ridebetter" version="1.14.0" versionCode="011400" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ride Better</name>
    <description>
        Ski resorts local reports and forecast
    </description>
    <author email="max.putilov@gmail.com" href="http://data-avail.com/">
        Max Putilov
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="DisableBouncyScrolling" value="true" />
    <preference name="CameraUsesGeolocation" value="false" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-targetSdkVersion" value="19" />
    <gap:icon src="icon.png" />
    <gap:icon gap:platform="ios" height="60" src="res/icon/60.png" width="60" />
    <gap:icon gap:platform="ios" height="120" src="res/icon/120.png" width="120" />
    <gap:icon gap:platform="ios" height="76" src="res/icon/76.png" width="76" />
    <gap:icon gap:platform="ios" height="152" src="res/icon/152.png" width="152" />
    <gap:icon gap:platform="ios" height="29" src="res/icon/29.png" width="29" />
    <gap:icon gap:platform="ios" height="58" src="res/icon/58.png" width="58" />
    <gap:icon gap:platform="ios" height="40" src="res/icon/40.png" width="40" />
    <gap:icon gap:platform="ios" height="80" src="res/icon/80.png" width="80" />
    <gap:icon gap:platform="ios" height="57" src="res/icon/57.png" width="57" />
    <gap:icon gap:platform="ios" height="114" src="res/icon/114.png" width="114" />
    <gap:icon gap:platform="ios" height="72" src="res/icon/72.png" width="72" />
    <gap:icon gap:platform="ios" height="144" src="res/icon/144.png" width="144" />
    <gap:icon gap:platform="ios" height="29" src="res/icon/29.png" width="29" />
    <gap:icon gap:platform="ios" height="58" src="res/icon/58.png" width="58" />
    <gap:icon gap:platform="ios" height="50" src="res/icon/50.png" width="50" />
    <gap:icon gap:platform="ios" height="100" src="res/icon/100.png" width="100" />
    <gap:icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/36.png" />
    <gap:icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/48.png" />
    <gap:icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/72.png" />
    <gap:icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/96.png" />
    <gap:icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/96.png" />
    <gap:icon gap:platform="winphone" src="res/icon/62.png" />
    <gap:icon gap:platform="winphone" gap:role="background" src="res/icon/173.png" />
    <gap:splash src="splash.png" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/320x480.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/640x960.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/640x1136.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/768x1024.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/1024x768.png" width="1024" />
    <gap:splash gap:platform="ios" height="2048" src="res/screen/768x1024.png" width="1536" />
    <gap:splash gap:platform="ios" height="1536" src="res/screen/2048x1536.png" width="2048" />
    <gap:splash gap:platform="android" gap:qualifier="ldpi" src="res/screen/192x320.png" />
    <gap:splash gap:platform="android" gap:qualifier="mdpi" src="res/screen/288x480.png" />
    <gap:splash gap:platform="android" gap:qualifier="hdpi" src="res/screen/480x800.png" />
    <gap:splash gap:platform="android" gap:qualifier="xhdpi" src="res/screen/720x1200.png" />
    <gap:splash gap:platform="android" gap:qualifier="xxhdpi" src="res/screen/720x1200.png" />
    <gap:splash gap:platform="winphone" src="res/screen/480x800.jpg" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="com.oauthio.plugins.oauthio" version="0.2.4" />
    <gap:plugin name="com.ionic.keyboard" version="1.0.3" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />
    <gap:plugin name="nl.x-services.plugins.toast" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <feature name="Keyboard">
        <param name="id" value="com.ionic.keyboard" />
    </feature>
    <feature name="OAuth.io">
        <param name="id" value="com.oauthio.plugins.oauthio" />
        <param name="url" value="https://github.com/oauth-io/oauth-phonegap#:." />
    </feature>
    <feature name="PushPlugin">
        <param name="id" value="com.phonegap.plugins.PushPlugin" />
        <param name="url" value="https://github.com/phonegap-build/PushPlugin.git#:." />
    </feature>
    <feature name="Screen Orientation">
        <param name="id" value="net.yoik.cordova.plugins.screenorientation" />
    </feature>
    <feature name="Toast">
        <param name="id" value="nl.x-services.plugins.toast" />
        <param name="url" value="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin.git#:." />
    </feature>
    <feature name="Camera">
        <param name="id" value="org.apache.cordova.camera" />
    </feature>
    <feature name="Device">
        <param name="id" value="org.apache.cordova.device" />
    </feature>
    <feature name="File">
        <param name="id" value="org.apache.cordova.file" />
    </feature>
    <feature name="File Transfer">
        <param name="id" value="org.apache.cordova.file-transfer" />
    </feature>
    <feature name="Geolocation">
        <param name="id" value="org.apache.cordova.geolocation" />
    </feature>
    <feature name="Globalization">
        <param name="id" value="org.apache.cordova.globalization" />
    </feature>
    <feature name="Splashscreen">
        <param name="id" value="org.apache.cordova.splashscreen" />
    </feature>
    <feature name="StatusBar">
        <param name="id" value="org.apache.cordova.statusbar" />
    </feature>
</widget>
