script(type="text/ng-template", id="transfer/transfer.html")
  include transfer
script(type="text/ng-template", id="transfer/transfer-list.html")
  include transfer-list
script(type="text/ng-template", id="transfer/transfer-item.html")
  include transfer-item

