ion-view(ng-attr-title="{{state.spot.title}}" cache-view="false")
    ion-content.has-header
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="board.pullMoreReplies(threadId)")
        ion-list.list
          ion-item.item
            .list.card
              .item.item-divider
                h4
                  | {{board.data.currentThread.user.name}} &nbsp;
                  i.ion-ios-clock-outline &nbsp;
                  | {{board.data.currentThread.created | amCalendar}}                              
              .item.item-icon-left
                i.icon.ion-location 
                | {{board.data.currentThread.meta.from}}                                
              .item.item-icon-left.item-text-wrap
                i.icon.ion-calendar 
                | {{board.data.currentThread.meta.date | amDateFormat:'dddd, MMMM Do YYYY, HH:00'}}                                  
              .item.item-icon-left
                i.icon.i.ion-model-s 
                | {{board.data.currentThread.meta.transport}}
              .item.item-icon-left(ng-if="board.data.currentThread.meta.price")
                i.icon.i.ion-card 
                | {{board.data.currentThread.meta.price}}
              a.item.item-icon-left(ng-href="tel:{{currentThread.meta.phone}}" ng-if="board.data.currentThread.meta.phone")
                i.icon.i.ion-iphone.positive
                | {{board.data.currentThread.meta.phone}}
              .item.item-text-wrap(ng-if="board.data.currentThread.text")
                | {{board.data.currentThread.text}}                                        
            p
              a.subdued(ng-click="board.removeThread(board.data.currentThread)" ng-show="board.canEdit(board.data.currentThread)")
                i.icon.ion-trash-b &nbsp; {{ "Remove" | res }}               
              a.subdued(ng-click="board.openThreadModal(board.data.currentThread, 'edit')" ng-show="board.canEdit(board.data.currentThread)")
                i.icon.ion-edit &nbsp; {{ "Edit" | res }}                            
          ion-item.item.item-text-wrap(ng-repeat="reply in board.data.currentThread.replies") 
              h3
                  | {{reply.user.name}} &nbsp;
                  i.ion-ios-clock-outline &nbsp;
                  | {{reply.created | amCalendar}}
              h3 {{reply.text}}              
              p
                a.subdued(ng-click="board.removeReply(board.data.currentThread, reply)" ng-show="board.canEdit(reply)")
                  i.icon.ion-trash-b &nbsp; {{ "Remove" | res }}
        ion-infinite-scroll(on-infinite="board.loadMoreReplies(board.data.currentThread)" ng-if="board.data.canLoadMoreReplies")

    ion-footer-bar
        h1.title.positive(ng-click="board.openReplyModal(board.data.currentThread, 'create')")
            i.icon.ion-chatboxes &nbsp; {{"Reply" | res}}
