ion-view(ng-attr-title="{{state.spot.title}}" cache-view="false")
    ion-content.has-header
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="board.pullMoreThreads()")
        ion-list.list
          div(ng-repeat="thread in board.data.threads") 
            block msg-content
        ion-infinite-scroll(on-infinite="board.loadMoreThreads()" ng-if="board.data.canLoadMoreThreads")

    ion-footer-bar
      block msg-create-button
