extends ./_layout-list.jade

block msg-content
  include list-items/faq-item

block msg-create-button
  h1.title.calm(ng-click="board.openThreadModal(null, 'create')")
      i.icon.ion-help &nbsp; #{resources.str.ask_question}

block vars      
  - var PAGE_TITLE = "#{resources.str.faq}} - {{::state.spot.title}"