extends ./_layout-list.jade

block msg-content
  include list-items/report-item

block msg-create-button
  h1.title.energized(ng-click="open('main.report')")
      i.icon.ion-flag &nbsp; #{resources.str.add_report}

block vars      
  - var PAGE_TITLE = "#{resources.str.reports}} - {{::state.spot.title}"