script(type="text/ng-template", id="modals/spotSelector.html")
    include spotSelector
script(type="text/ng-template", id="modals/authForm.html")
    include authForm
script(type="text/ng-template", id="modals/sendSimpleMsgForm.html")
    include sendSimpleMsgForm
script(type="text/ng-template", id="modals/sendMsgForm.html")
    include sendMsgForm    
script(type="text/ng-template", id="modals/transferMsgForm.html")
    include transferMsgForm
script(type="text/ng-template", id="modals/addMsgSelector.html")
    include addMsgSelector

