script(type="text/ng-template", id="modals/spotSelector.html")
    include spotSelector
script(type="text/ng-template", id="modals/addMessage.html")
    include addMessage
script(type="text/ng-template", id="modals/defMsgList.html")
    include defMsgList
script(type="text/ng-template", id="modals/createReport.html")
    include createReport
