ion-modal-view
    .bar.bar-header
        button.button.button-clear(ng-click="cancelCreateReportModal()")
            | {{res.str.cancel}}
    ion-content.has-header
        ion-slide-box(on-slide-changed='slideHasChanged($index)')
            ion-slide
                .box.blue
                    h1 BLUE
            ion-slide
                .box.yellow
                    h1 YELLOW
            ion-slide
                .box.pink
                    h1 PINK
