ion-modal-view
    .bar.bar-header
        h3 {{'Message' | res}}
    ion-content.has-header
        .list
            label.item.item-input.item-select
                .input-label
                  | Priority 
                select(ng-options="priority.name for priority in msgForm.prioritiesList" ng-model="msgForm.data.priority")                
            label.item.item-input
                textarea(placeholder="{{'Add Message' | res}}", ng-model="msgForm.data.message", style="height: 120px; margin-right: -10px")
            .item(ng-if="msgForm.data.photo.src")
              img(ng-src="{{msgForm.data.photo.src}}" height="200px")                                      
            label.item
              if env.platform == 'cordova'
                  .button-bar
                      button.button.button-balanced(ng-click="msgForm.data.takePhoto()")
                          i.icon.ion-camera &nbsp; {{"Take photo" | res}}
                      button.button.button-royal(ng-click="msgForm.data.selectPhoto()")
                          i.icon.ion-images &nbsp; {{"Attach photo" | res}}
              if env.platform == 'browser'
                  button.button.button-royal(ng-file-select accept="image/*" ng-file-change="msgForm.attachPhoto(attachedFile)" ng-model="attachedFile" type="file")
                      i.icon.ion-image &nbsp; {{"Attach photo" | res}}
        .button-bar
            a.button.button-stable(ng-click="board.cancelMsgModal()") {{'Cancel' | res}}
            a.button.button-stable(ng-click="board.sendMessage()") {{'Send' | res}}

