script(type="text/ng-template", id="user/user.html")
  include user
script(type="text/ng-template", id="user/settings.html")
  include settings
script(type="text/ng-template", id="user/favs.html")
  include favs
