ion-tabs.tabs-striped.tabs-calm.tabs-light      
  ion-tab(icon='icon ion-star' ui-sref="user.favs")
    ion-nav-view(name='user-favs')
  ion-tab(icon='icon ion-gear-a' ui-sref="user.settings")
    ion-nav-view(name='user-settings')          
