ion-view(ng-attr-title="#{resources.str.error_page_header}")
    ion-content.has-header
        .row
          h3.center.assertive #{resources.str.error_page_content}
        .row
          a.button.button-balanced(href="/") #{resources.str.try_reload_again}