ion-content
  ion-list
    ion-item.item-icon-left(nav-clear menu-close href="#/home")
      i.icon.ion-ios7-home-outline 
      | {{ "Home" | res }}      
    ion-item.item-icon-left(nav-clear menu-close href="#/resort/main")
      i.icon.ion-ios7-information-outline 
      | {{ "Resort Info" | res }}
    ion-item.item-icon-left(nav-clear  menu-close href="#/tab/info/today")
      i.icon.ion-ios7-people-outline
      | {{ "Today's Talks" | res }}
