ion-content
  ion-list
    ion-item.item-icon-left(nav-clear menu-close ui-sref="tab.home")
      i.icon.ion-ios-home-outline 
      | {{ "Home" | res }}      
    ion-item.item-icon-left(nav-clear menu-close ui-sref="resort.main")
      i.icon.ion-ios-information-outline 
      | {{ "Resort Info" | res }}
    ion-item.item-icon-left(nav-clear  menu-close ui-sref="faq.list")
      i.icon.ion-ios-help-empty
      | {{ "FAQ" | res }}      
