script(type="text/ng-template", id="messages/messages.html")
  include messages
script(type="text/ng-template", id="messages/messages-list.html")
  include messages-list
script(type="text/ng-template", id="messages/messages-item.html")
  include messages-item
script(type="text/ng-template", id="messages/faq-list.html")
  include faq-list
script(type="text/ng-template", id="messages/faq-item.html")
  include faq-item
script(type="text/ng-template", id="messages/transfer-list.html")
  include transfer-list
script(type="text/ng-template", id="messages/transfer-item.html")
  include transfer-item
script(type="text/ng-template", id="messages/reports-list.html")
  include reports-list
script(type="text/ng-template", id="messages/reports-item.html")
  include reports-item

