script(type="text/ng-template", id="messages/messages.html")
  include messages
script(type="text/ng-template", id="messages/messages-list.html")
  include messages-list
script(type="text/ng-template", id="messages/messages-item.html")
  include messages-item

