script(type="text/ng-template", id="messages/messages.html")
  include messages
script(type="text/ng-template", id="messages/messages-list.html")
  include lists/messages-list
script(type="text/ng-template", id="messages/messages-item.html")
  include items/messages-item
script(type="text/ng-template", id="messages/faq-list.html")
  include lists/faq-list
script(type="text/ng-template", id="messages/faq-item.html")
  include items/faq-item
script(type="text/ng-template", id="messages/transfer-list.html")
  include lists/transfer-list
script(type="text/ng-template", id="messages/transfer-item.html")
  include items/transfer-item
script(type="text/ng-template", id="messages/reports-list.html")
  include lists/reports-list
script(type="text/ng-template", id="messages/reports-item.html")
  include items/reports-item

