ion-tabs.tabs-striped.tabs-positive.tabs-light
  ion-tab(icon='icon ion-speakerphone' ng-click="open('msg.messages')")
      ion-nav-view(name='msg-messages')
  ion-tab(icon='icon ion-flag' ng-click="open('msg.reports')")
      ion-nav-view(name='msg-reports')          
  ion-tab(icon='icon ion-model-s' ng-click="open('msg.transfer')")
      ion-nav-view(name='msg-transfer')          
  ion-tab(icon='icon ion-help' ng-click="open('msg.faq')")
      ion-nav-view(name='msg-faq')          
