ion-view(ng-attr-title="Requests")

  ion-content.has-header
    ul.list
      li.item.item-avatar.item-button-right(ng-repeat="request in ::thread.requests")
        img(ng-src="{{::request.user.avatar}}")
        | {{::request.user.name}}
        p
          a.subdued.calm(ng-if="request.accepted == undefined") 
            i.icon.ion-checkmark-circled &nbsp; Requested &nbsp;   
          a.subdued.balanced(ng-if="request.accepted == true") 
            i.icon.ion-checkmark-circled.positive &nbsp; Accepted &nbsp;
          a.assertive.subdued(ng-if="request.accepted == false") 
            i.icon.ion-checkmark-circled &nbsp; Rejected &nbsp;            
        button.button(ng-click="switchAccepted(request)" ng-class="{positive : request.accepted, assertive : (request.accepted == false)}")
          i.icon.ion-checkmark-round

