script(type="text/ng-template", id="tabs/tab.html")
    include tab
script(type="text/ng-template", id="tabs/tab-home.html")
    include tab-home
script(type="text/ng-template", id="tabs/tab-favs.html")
    include tab-favs
script(type="text/ng-template", id="tabs/tab-forecast.html")
    include tab-forecast
script(type="text/ng-template", id="tabs/tab-reports.html")
    include tab-reports
script(type="text/ng-template", id="tabs/tab-user.html")
    include tab-user
script(type="text/ng-template", id="tabs/tab-send-report.html")
    include tab-send-report
script(type="text/ng-template", id="tabs/tab-closed-report.html")
    include tab-closed-report
script(type="text/ng-template", id="tabs/tab-talk.html")
    include tab-talk
