ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header.home-container(ng-class="getBackgroundStyle(snapshot.forecast.icon)")
        .transparent-background.card.list.home-card(ng-if="snapshot.report.summary || snapshot.forecast.summary")
            .transparent-background.transparent-background-img.height-300.item.item-text-wrap.text-center.text-bold(ui-sref="tab.reports", ng-if="snapshot.report.summary")
                span {{snapshot.report.summary}} &nbsp
                i.arrow-more.ion-ios7-arrow-thin-right
            .transparent-background.transparent-background-img.item.item-text-wrap.text-center.text-bold(ui-sref="tab.forecast", ng-if="snapshot.forecast.summary")
                | {{snapshot.forecast.summary}}
                br
                i.icon.ion-arrow-down-c &nbsp; {{culture.temp(snapshot.forecast.temperatureMin) | round | plus}}&deg;{{culture.tempU()}} &nbsp;
                | &nbsp;&nbsp;&nbsp;
                i.icon.ion-arrow-up-c &nbsp; {{culture.temp(snapshot.forecast.temperatureMax) | round | plus}}&deg;{{culture.tempU()}} &nbsp;
                i.arrow-more.ion-ios7-arrow-thin-right
            .transparent-background.transparent-background-img.item.item-text-wrap.text-center.text-bold(ui-sref="tab.snowHist", ng-if="snowfallHistory.summary")
                i.icon.ion-ios7-snowy(style="font-size: 20px; color: blue;")
                &nbsp; {{snowfallHistory.summary}}
                i.arrow-more.ion-ios7-arrow-thin-right
    ion-footer-bar.bar-positive
        .button-bar
            button.button.button-wide-letters.button-positive(ng-click="sendReport()")
                i.ion-ios7-compose-outline(style="font-size: 20px;")
                &nbsp; {{'Report' | res}}
            button.button.button-wide-letters.button-royal(ng-click="openTalk()")
                i.ion-ios7-chatboxes-outline(style="font-size: 20px;")
                &nbsp; {{'Talk' | res}}
