ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header(delegate-handle="forecast-scroll")
        .list
            .item(ng-repeat="item in forecast.items")
                h3
                    small(ng-class="{positive : item.isCurrent}") {{item.time}} &nbsp;
                | {{item.weather}} {{item.temperature}} {{forecast.units.temp}}.
                br
                | Latest 7 days fallout {{item.cumulativeSnow}} {{item.units.deep}}.
                br
                | Today's expected fallout {{item.todaySnow}} {{item.units.deep}}.

