ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        .list
            .item.item-text-wrap.text-center(ui-sref="tab.reports")
                span {{snapshot.report.summary | capitalize}}
            .item.item-text-wrap.text-center(ui-sref="tab.forecast")
                | {{snapshot.forecast.summary}}
                br
                span Min : {{snapshot.forecast.temperatureMin | round}}&deg;C &nbsp;
                span Max : {{snapshot.forecast.temperatureMax | round}}&deg;C
        button.button.button-block.button-positive(ng-click="sendReport()")
            i.icon.ion-ios7-chatboxes-outline &nbsp; {{res.str.report}}
        button.button.button-block.button-assertive(ng-click="closedReport()")
            i.icon.ion-ios7-locked-outline &nbsp; {{res.str.closed}}
