ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        ion-slide-box(on-slide-changed='slideChanged(index)')
            // first slide
            ion-slide
                h3 {{res.str('Snow on traks ?')}}
                .list
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="4")
                        .item-content
                            | {{res.str('lots of snow')}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="3")
                        .item-content
                            | {{res.str('much snow')}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="2")
                        .item-content
                            | {{res.str('enough snow')}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="1")
                        .item-content(ng-click="nextSlide()")
                            | {{res.str('not enough snow')}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="0")
                        .item-content
                            | {{res.str('very little snow')}}
                        i.radio-icon.ion-checkmark
            // second slide
            ion-slide
                h3 {{res.str('Snowing ?')}}
                    .list
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='snowing', ng-model="data.snowing", value="4")
                            .item-content
                                | {{res.str('lots of snow fell')}}
                            i.radio-icon.ion-checkmark
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='snowing', ng-model="data.snowing", value="3")
                            .item-content
                                | {{res.str('much snow fell')}}
                            i.radio-icon.ion-checkmark
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='snowing', ng-model="data.snowing", value="2")
                            .item-content
                                | {{res.str('dropped enough snow')}}
                            i.radio-icon.ion-checkmark
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='snowing', ng-model="data.snowing", value="1")
                            .item-content
                                | {{res.str('not much snow fell')}}
                            i.radio-icon.ion-checkmark
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='snowing', ng-model="data.snowing", value="0")
                            .item-content
                                | {{res.str('snow does not fall out')}}
                            i.radio-icon.ion-checkmark

            // third slide
            ion-slide
                h3 {{res.str('Crowd ?')}}
                    .list
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='crowd', ng-model="data.crowd", value="4")
                            .item-content
                                | {{res.str('Too many people')}}
                            i.radio-icon.ion-checkmark
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='crowd', ng-model="data.crowd", value="3")
                            .item-content
                                | {{res.str('Many people')}}
                            i.radio-icon.ion-checkmark
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='crowd', ng-model="data.crowd", value="2")
                            .item-content
                                | {{res.str('Enough people')}}
                            i.radio-icon.ion-checkmark
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='crowd', ng-model="data.crowd", value="1")
                            .item-content
                                | {{res.str('Few people')}}
                            i.radio-icon.ion-checkmark
                        label.item.item-radio(ng-click="nextSlide()")
                            input(type='radio', name='crowd', ng-model="data.crowd", value="0")
                            .item-content
                                | {{res.str('Very few people')}}
                            i.radio-icon.ion-checkmark
            ion-slide.green
                h3 {{res.str('Complete')}}
                .list
                    label.item.item-input
                        textarea(placeholder="{{res.str('Add Message')}}", ng-model="data.message", style="height: 120px")
                .button-bar
                    a.button.button-stable(ng-click="cancelReport()") {{res.str('Cancel')}}
                    a.button.button-stable(ng-click="sendReport()") {{res.str('Send')}}
