ion-view(title="{{'My Info' | res}}")
    ion-content.has-header
        .list
            label.item.item-input.item-stacked-label(ng-show="user.profile.name")
                span.input-label {{"Name" | res}}
                input(type='text', ng-model="user.profile.name", disabled)
            label.item.item-input.item-stacked-label
                span.input-label {{"Home" | res}}
                input(type='text', ng-model="homeLabel", disabled)
            .item.item-input.item-select
                span.input-label {{"Language" | res}}
                    select(ng-options="lang.name for lang in langsList", ng-model="data.lang", ng-change="setLang(data.lang)")
            .item.item-input.item-select
                span.input-label {{"Units" | res}}
                    select(ng-options="culture.name for culture in culturesList", ng-model="data.culture", ng-change="setCulture(data.culture)")
            button.button.button-full.button-energized(ng-click="reset()") {{"Reset" | res}}
            button.button.button-full.button-positive(ng-click="login()", ng-show="!isLogin()") {{"Login" | res}}
            button.button.button-full.button-assertive(ng-click="logout()", ng-show="isLogin()") {{"Logout" | res}}
