ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        .list
            .item(ng-repeat="msg in messages")
                .item-note
                    | {{msg.user.name}}
                    &nbsp;
                    i.icon.ion-ios7-clock-outline
                    &nbsp;
                    | {{msg.time}}
                i.icon.ion-ios7-paw-outline {{msg.tracks}} &nbsp;
                i.icon.ion-ios7-snowy {{msg.snowing}} &nbsp;
                i.icon.ion-ios7-people-outline {{msg.crowd}} &nbsp;
                small {{msg.text}}

