ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header(delegate-handle="forecast-scroll")
        .list
            .item.item-text-wrap(ng-repeat="item in forecast")
                h2 {{item.time | amCalendar}}
                h3 {{item.summary}}
                span(ng-if="item.precipType") {{item.precipType | capitalize}} {{item.precipAccumulation | round:1}} cm.
                span(ng-if="!item.precipType") Snow 0 cm.
                br
                | {{item.temperatureMin | round}}&deg;C &mdash; {{item.temperatureMax | round}}&deg;C

