ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        .list
            .item.item-text-wrap(ng-repeat="thread in talk.threads")
                h3
                    | {{thread.message.user.name}} &nbsp;
                    i.icon.ion-ios7-clock-outline &nbsp;
                    | {{thread.message.created | amCalendar}}
                | {{thread.message.message}}
    ion-footer-bar.no-padding-footer-bar
        .button-bar
            button.button.button-positive.button-wide-letters(ng-click="openSendMsgModal()")
                i.icon.ion-ios7-chatboxes-outline &nbsp; {{'Send Message' | res}}
