ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="pullMore()")
        ion-list.list
            ion-item.item.item-icon-right(ng-repeat="thread in talk.threads")
                h3
                    | {{thread.message.user.name}} &nbsp;
                    i.ion-ios7-clock-outline &nbsp;
                    | {{thread.message.created | amCalendar}}
                | {{thread.message.message}}
                i.icon.ion-ios7-trash-outline(ng-click="removeThread(thread)")
        ion-infinite-scroll(on-infinite="loadMore()" ng-if="data.canLoadMore")

    ion-footer-bar.no-padding-footer-bar
        .button-bar
            button.button.button-positive.button-wide-letters(ng-click="openSendMsgModal()")
                i.icon.ion-ios7-chatboxes-outline &nbsp; {{'Send Message' | res}}
