ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        button.button.button-full.button-positive(ui-sref="")
            i.icon.ion-clock &nbsp; Today
        button.button.button-full.button-calm
            i.icon.ion-home &nbsp; Oficial
        button.button.button-full.button-balanced
            i.icon.ion-key &nbsp; Housing
        button.button.button-full.button-energized
            i.icon.ion-model-s &nbsp; Trip
        button.button.button-full.button-assertive
            i.icon.ion-fork &nbsp; Food
        button.button.button-full.button-royal
            i.icon.ion-bag &nbsp; Shops
        button.button.button-full.button-dark
            i.icon.ion-wrench &nbsp; Services


    //
        ion-content.has-header
            ion-refresher(pulling-text="Pull to refresh..." on-refresh="pullMore()")
            ion-list.list
                ion-item.item.item-icon-right(ng-repeat="thread in talk.threads")
                    h3
                        | {{thread.message.user.name}} &nbsp;
                        i.ion-ios7-clock-outline &nbsp;
                        | {{thread.message.created | amCalendar}}
                    | {{thread.message.message}}
                    i.icon.ion-ios7-trash-outline(ng-click="removeThread(thread)" ng-if="canRemove(thread)")
            ion-infinite-scroll(on-infinite="loadMore()" ng-if="data.canLoadMore")

        ion-footer-bar
            h1.title.positive(ng-click="openSendMsgModal()")
                i.icon.ion-speakerphone &nbsp; {{'Send Message' | res}}
