ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        .list
            .item(ng-repeat="report in reports")
                .item-note
                    | {{report.user.name}}
                    &nbsp;
                    i.icon.ion-ios7-clock-outline
                    &nbsp;
                    | {{report.time}}
                i.icon.ion-ios7-paw-outline {{report.conditions.tracks}} &nbsp;
                i.icon.ion-ios7-snowy {{report.conditions.snowing}} &nbsp;
                i.icon.ion-ios7-people-outline {{report.conditions.crowd}} &nbsp;
                small {{report.conditions.text}}

