ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header(delegate-handle="forecast-scroll")
        .list
            .item.item-text-wrap(ng-repeat="item in forecast")
                h2 {{item.time | amDateFormat: 'dddd, Do MMMM'}}
                h3 {{item.summary}}
                span(ng-if="item.precipType") {{item.precipType}}&nbsp;
                    |{{culture.height(item.precipAccumulation) | round:1}} {{culture.heightU() | res}}.
                    br
                | {{culture.temp(item.temperatureMin) | round | plus}}&deg;{{culture.tempU()}}  &mdash;
                | {{culture.temp(item.temperatureMax) | round | plus}}&deg;{{culture.tempU()}}

