ion-view(ng-attr-title="{{'Favorites' | res}}")
    ion-content.has-header
        .list
            .item(ng-show="canAddFav()")
                button.button.button-block.button-stable.icon.ion-ios7-plus-outline(ng-click="openSpotSelectorModal()") &nbsp;
                    | {{'Add New' | res}}
            .item.item-icon-left.item-icon-right(ng-repeat="fav in favs")
                i.icon(ng-class="{'ion-ios7-home-outline' : !fav.isHome, 'ion-ios7-home' : fav.isHome}", on-tap="setHome(fav)")
                span(on-tap="openHome(fav)")
                    h2 {{fav.label}}
                    .float-left
                        span(ng-repeat="star in fav.report.rating.stars")
                            i(ng-class="prettifyer.getStarIconCss(star.type)")
                        | &nbsp;
                        span(ng-repeat="msg in fav.report.report.messages")
                            i(ng-class="prettifyer.getReportIconCss(msg.code)")&nbsp;
                i.icon.ion-ios7-minus-outline(ng-show="canRemoveFav()", ng-click="removeFav(fav)")