ion-tabs.tabs-icon-only
    ion-tab(icon='icon ion-ios7-home', href='#/tab/home')
        ion-nav-view(name='tab-home')
    ion-tab(icon='icon ion-ios7-heart', href='#/tab/favs')
        ion-nav-view(name='tab-favs')
    ion-tab(icon='icon ion-ios7-person', href='#/tab/user')
        ion-nav-view(name='tab-user')

