script(type="text/ng-template", id="main/main.html")
    include main
script(type="text/ng-template", id="main/home.html")
    include home
script(type="text/ng-template", id="main/home/reports.html")
    include home-reports    
script(type="text/ng-template", id="main/home/important.html")
    include home-important        
script(type="text/ng-template", id="main/forecast.html")
    include forecast
script(type="text/ng-template", id="main/messages.html")
    include messages
script(type="text/ng-template", id="main/message.html")
    include message    
script(type="text/ng-template", id="main/snow-hist.html")
    include snow-hist
script(type="text/ng-template", id="main/send-report.html")
    include send-report
script(type="text/ng-template", id="main/closed-report.html")
    include closed-report
