ion-view(ng-attr-title="{{state.spot.title}}")
   ion-content.has-header
      .list
         label.item.text-center
            h2 {{ 'Closed' | res }}
         .item.item-input.item-select
            span.input-label {{ 'Reason' | res }}
            select(ng-options="reason.name for reason in reasonsList", ng-model="data.reason")
         label.item.item-input.item-stacked-label
            span.input-label {{ 'Supposed open date' | res }}
            input(type="date", ng-model="data.openDate", placeholder="{{'dd.mm.yyyy' | res}}")
         label.item.item-input
            textarea(placeholder="{{'Add Message' | res}}", ng-model="data.message", style="height: 120px")
      .button-bar
         a.button.button-stable(ng-click="cancelReport()") {{"Cancel" | res}}
         a.button.button-stable(ng-click="sendReport()") {{"Send" | res}}
