ion-view(ng-attr-title="{{'Favorites' | res}}")
    ion-content.has-header
        .list
            .item(ng-show="canAddFav()")
                button.button.button-block.button-stable.icon.ion-ios-plus-outline(ng-click="openSpotSelectorModal()") &nbsp;
                    | {{'Add New' | res}}
            .item.item-icon-left.item-icon-right(ng-repeat="fav in favs")
                i.icon(ng-class="{'ion-ios-home-outline' : !fav.isHome, 'ion-ios-home' : fav.isHome}", on-tap="setHome(fav)")
                span(on-tap="openHome(fav)")
                    h2 {{fav.label}}
                i.icon.ion-ios-minus-outline(ng-show="canRemoveFav()", ng-click="removeFav(fav)")