ion-view(ng-attr-title="#{resources.str.messages}")
  ion-content.has-header
    .list
      .item.item-text-wrap(ng-repeat="thread in ::reports")
        include ../messages/lists/list-items/report-item
