//
  ion-view(ng-attr-title="#{resources.str.messages}")
    ion-content.has-header
      .list
        .item.item-text-wrap(ng-repeat="thread in ::latestImportant")
          include ../messages/lists/list-items/message-item

extends ../messages/lists/_layout-list.jade

block msg-content
  thread-list-item

block vars      
  - var PAGE_TITLE = resources.str.messages