ion-tabs.tabs-striped.tabs-positive.tabs-light
    ion-tab(icon='icon ion-home' ng-click="open('home')")
        ion-nav-view(name='main-home')
    ion-tab(icon='icon ion-document' ng-click="open('reports')")
        ion-nav-view(name='main-reports')          
    ion-tab(icon='icon ion-cloud' ng-click="open('forecast')")
        ion-nav-view(name='main-forecast')          
    ion-tab(icon='icon ion-stats-bars' ng-click="open('hist')")
        ion-nav-view(name='main-hist')          

      //
        ion-tab(icon='icon ion-ios-camera' href="#/{{currentSpot}}/main/webcam")
            ion-nav-view(name='main-webcam')
        ion-tab(icon='icon ion-ios-heart', ng-href='#/{spot}/main/favs')
            ion-nav-view(name='tab-favs')
        ion-tab(icon='icon ion-ios-person', ng-href='#/{spot}/main/user')
            ion-nav-view(name='tab-user')

