ion-tabs.tabs-striped.tabs-positive.tabs-light
    ion-tab(icon='icon ion-home' ng-click="open('main.home')")
        ion-nav-view(name='main-home')
    ion-tab(icon='icon ion-chatboxes' ng-click="open('main.messages')")
        ion-nav-view(name='main-message')          
    ion-tab(icon='icon ion-cloud' ng-click="open('main.forecast')")
        ion-nav-view(name='main-forecast')          
    ion-tab(icon='icon ion-stats-bars' ng-click="open('main.hist')")
        ion-nav-view(name='main-hist')          
