extends ../messages/lists/_layout-list.jade

block msg-list-subheader

  ion-nav-buttons(side="primary")
    button.button(ng-click="board.openFilterModal()")
      i.icon.ion-funnel

  //        
    ion-header-bar.bar.bar-subheader
      .button-bar
        a.button(ng-class="{'button-positive' : isActiveFilter('current')}" ng-click="setActiveFilter('current')") {{::resources.str.current}}
        a.button(ng-class="{'button-positive' : isActiveFilter('favs')}" ng-click="setActiveFilter('favs')") {{::resources.str.favorites}}
        a.button(ng-class="{'button-positive' : isActiveFilter('all')}" ng-click="setActiveFilter('all')") {{::resources.str.all}}

block msg-content
  thread-list-item

block msg-create-button
  h1.title.positive(ng-click="openAddMsgSelector()")
      i.icon.ion-chatbox-working &nbsp; {{::resources.str.add_message}}

block vars      
  - var PAGE_TITLE = "{{::resources.str.messages}}"