ion-view(ng-attr-title="{{spot.title}}")
    ion-content.has-header
        .list
            .item.item-text-wrap(ng-repeat="report in reports")
                h3
                    | {{report.user.name}} &nbsp;
                    i.icon.ion-ios-clock-outline &nbsp;
                    | {{report.time | amCalendar}}
                | {{report.summary}}
                br
                small {{report.comment}}

