ion-view(ng-attr-title="{{::resources.str.report}} - {{::state.spot.title}}" cache-view="false")
    ion-content.has-header
        ion-slide-box
            ion-slide
                h3 {{::resources.str.powder_q}}
                .list
                    //
                        label.item.text-center.assertive(ng-click="closedReport()")
                            span.item-conent-closed(ng-click="closedReport()")
                                i.icon.ion-ios-locked-outline &nbsp; {{'Closed' | res}}
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="4")
                        .item-content
                            | {{::resources.str.lots_of_powder}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="3")
                        .item-content
                            | {{::resources.str.much_powder}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="2")
                        .item-content
                            | {{::resources.str.enough_powder}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="1")
                        .item-content(ng-click="nextSlide()")
                            | {{::resources.str.not_enough_powder}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='tracks', ng-model="data.tracks", value="0")
                        .item-content
                            | {{::resources.str.very_little_powder}}
                        i.radio-icon.ion-checkmark
            ion-slide
                h3 {{::resources.str.snowing_q}}
                .list
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='snowing', ng-model="data.snowing", value="4")
                        .item-content
                            | {{::resources.str.lots_snow}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='snowing', ng-model="data.snowing", value="3")
                        .item-content
                            | {{::resources.str.much_snow}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='snowing', ng-model="data.snowing", value="2")
                        .item-content
                            | {{::resources.str.enough_snow}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='snowing', ng-model="data.snowing", value="1")
                        .item-content
                            | {{::resources.str.not_much_snow}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='snowing', ng-model="data.snowing", value="0")
                        .item-content
                            | {{::resources.str.snow_not_fall' | res}}
                        i.radio-icon.ion-checkmark
            ion-slide
                h3 {{::resources.str.crowd_q}}
                .list
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='crowd', ng-model="data.crowd", value="4")
                        .item-content
                            | {{::resources.str.too_many_people}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='crowd', ng-model="data.crowd", value="3")
                        .item-content
                            | {{::resources.str.many_people}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='crowd', ng-model="data.crowd", value="2")
                        .item-content
                            | {{::resources.str.enough_people}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='crowd', ng-model="data.crowd", value="1")
                        .item-content
                            | {{::resources.str.few_people}}
                        i.radio-icon.ion-checkmark
                    label.item.item-radio(ng-click="nextSlide()")
                        input(type='radio', name='crowd', ng-model="data.crowd", value="0")
                        .item-content
                            | {{::resources.str.very_few_people}}
                        i.radio-icon.ion-checkmark
            ion-slide
                h3 {{::resources.str.complete}}
                .list
                    label.item.item-input
                        textarea(placeholder="{{::resources.str.add_message}}", ng-model="data.message", style="height: 120px; margin-right: -10px")
                .button-bar
                    a.button.button-stable(ng-click="cancelReport()") {{::resources.str.cancel}}
                    a.button.button-stable(ng-click="sendReport()") {{::resources.str.send}}
