ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        button.button.button-full.button-positive(ui-sref="tab.talk-today")
            i.icon.ion-clock &nbsp; {{"Today" | res}}
        button.button.button-full.button-calm
            i.icon.ion-home &nbsp; {{"Official" | res}}
        button.button.button-full.button-balanced
            i.icon.ion-key &nbsp; {{"Housing" | res}}
        button.button.button-full.button-energized
            i.icon.ion-model-s &nbsp; {{"Trip" | res}}
        button.button.button-full.button-assertive
            i.icon.ion-fork &nbsp; {{"Food" | res}}
        button.button.button-full.button-royal
            i.icon.ion-bag &nbsp; {{"Shops" | res}}
        button.button.button-full.button-dark
            i.icon.ion-wrench &nbsp; {{"Services"| res }}

