script(type="text/ng-template", id="faq/faq.html")
  include faq
script(type="text/ng-template", id="faq/faq-list.html")
  include faq-list
script(type="text/ng-template", id="faq/faq-item.html")
  include faq-item

