ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="pullMore()")
        ion-list.list
          div(ng-repeat="thread in data.threads") 
            .item.item-text-wrap
              h3
                  | {{thread.user.name}} &nbsp;
                  i.ion-ios7-clock-outline &nbsp;
                  | {{thread.created | amCalendar}}
              h3 {{thread.text}}              
              p {{thread.replies[0].text}}                
              p
                a.subdued(ng-click="openSendMsgModal(thread, 'reply')")
                  i.icon.ion-chatbox &nbsp; Comment               
                a.subdued(ng-href='#/faq/list/{{thread._id}}') {{thread.replies.length}} Comments                
        ion-infinite-scroll(on-infinite="loadMore()" ng-if="data.canLoadMore")

    ion-footer-bar
        h1.title.positive(ng-click="openSendMsgModal()")
            i.icon.ion-speakerphone &nbsp; {{'Ask Question' | res}}
