ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="board.pullMoreThreads()")
        ion-list.list
          div(ng-repeat="thread in board.data.threads") 
            ion-item.item.item-text-wrap
              h3
                  | {{thread.user.name}} &nbsp;
                  i.ion-ios-clock-outline &nbsp;
                  | {{thread.created | amCalendar}}
              h3 {{thread.text}}              
              p {{thread.replies[0].text}}                
              p
                a.subdued(ng-href='#/{{currentSpot}}/faq/list/{{thread._id}}') 
                  | {{thread.replies.length}} {{ "Replies" | res }}
                a.subdued(ng-click="board.openReplyModal(thread, 'create')")
                  i.icon.ion-chatbox &nbsp; {{ "Reply" | res }}                               
                a.subdued(ng-click="board.removeThread(thread)" ng-show="board.canEdit(thread)")
                  i.icon.ion-trash-b &nbsp; {{ "Remove" | res }}               
                a.subdued(ng-click="board.openThreadModal(thread, 'edit')" ng-show="board.canEdit(thread)")
                  i.icon.ion-edit &nbsp; {{ "Edit" | res }}              
        ion-infinite-scroll(on-infinite="board.loadMoreThreads()" ng-if="board.data.canLoadMoreThreads")

    ion-footer-bar
        h1.title.positive(ng-click="board.openThreadModal(null, 'create')")
            i.icon.ion-speakerphone &nbsp; {{'Ask Question' | res}}
