ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="board.pullMoreReplies(threadId)")
        ion-list.list
          ion-item.item.item-divider.item-text-wrap
            h3 
              | {{board.data.currentThread.user.name}} &nbsp;
              i.ion-ios-clock-outline &nbsp;
              | {{board.data.currentThread.created | amCalendar}}
            h3 {{board.data.currentThread.text}}              
            p
              a.subdued(ng-click="board.removeThread(board.data.currentThread)" ng-show="board.canEdit(board.data.currentThread)")
                i.icon.ion-trash-b &nbsp; {{ "Remove" | res }}               
              a.subdued(ng-click="board.openThreadModal(board.data.currentThread, 'edit')" ng-show="board.canEdit(board.data.currentThread)")
                i.icon.ion-edit &nbsp; {{ "Edit" | res }}                            
          ion-item.item.item-text-wrap(ng-repeat="reply in board.data.currentThread.replies") 
              h3
                  | {{reply.user.name}} &nbsp;
                  i.ion-ios-clock-outline &nbsp;
                  | {{reply.created | amCalendar}}
              h3 {{reply.text}}              
              p
                a.subdued(ng-click="board.removeReply(board.data.currentThread, reply)" ng-show="board.canEdit(reply)")
                  i.icon.ion-trash-b &nbsp; {{ "Remove" | res }}
        ion-infinite-scroll(on-infinite="board.loadMoreReplies(board.data.currentThread)" ng-if="board.data.canLoadMoreReplies")

    ion-footer-bar
        h1.title.positive(ng-click="board.openReplyModal(board.data.currentThread, 'create')")
            i.icon.ion-chatboxes &nbsp; {{"Reply" | res}}
