p
  a.subdued(ng-click="board.removeThread(board.data.currentThread)" ng-if="::board.canEdit(board.data.currentThread)")
    i.icon.ion-trash-b &nbsp; {{::resources.str.remove}}               
  a.subdued(ng-click="board.openThreadModal(board.data.currentThread, 'edit')" ng-if="::board.canEdit(board.data.currentThread)")
    i.icon.ion-edit &nbsp; {{::resources.str.edit}}                            
