extends ./_item-layout.jade

block item-layout-content
  .list.card
    .item.item-icon-left
      i.icon.ion-location 
      | {{board.data.currentThread.data.meta.from}}                                
    .item.item-icon-left.item-text-wrap
      i.icon.ion-calendar 
      | {{board.data.currentThread.data.meta.date | amDateFormat:'dddd, MMMM Do YYYY, HH:00'}}                                  
    .item.item-icon-left
      i.icon.i.ion-model-s 
      | {{board.data.currentThread.data.meta.transport}}
    .item.item-icon-left(ng-if="::board.data.currentThread.data.meta.price")
      i.icon.i.ion-card 
      | {{board.data.currentThread.data.meta.price}}
    a.item.item-icon-left(ng-href="tel:{{currentThread.data.meta.phone}}" ng-if="::board.data.currentThread.data.meta.phone")
      i.icon.i.ion-android-call.positive
      | {{board.data.currentThread.data.meta.phone}}
    .item.item-text-wrap(ng-if="::board.data.currentThread.data.text")
      | {{board.data.currentThread.data.text}}                                        
