extends ./_item-layout.jade

block item-layout-content
  .list.card
    .item.item-icon-left
      i.icon.i.ion-model-s 
      | {{board.data.currentThread.formatted.transfer.title}}    
    .item.item-icon-left
      i.icon.ion-location 
      | {{board.data.currentThread.data.meta.from}}                                
    .item.item-icon-left.item-text-wrap(ng-if="board.data.currentThread.data.meta.date")
      i.icon.ion-calendar 
      | {{board.data.currentThread.data.meta.date | amDateFormat:'dddd, MMMM Do YYYY, HH:00'}}                                  
    .item.item-icon-left(ng-if="board.data.currentThread.data.meta.price")
      i.icon.i.ion-card 
      | {{board.data.currentThread.data.meta.price}}
    a.item.item-icon-left(ng-href="tel:{{currentThread.data.meta.phone}}" ng-if="board.data.currentThread.data.meta.phone")
      i.icon.i.ion-android-call.positive
      | {{board.data.currentThread.data.meta.phone}}
    .item.long-read.item-text-wrap(ng-if="board.data.currentThread.data.text")
      | {{board.data.currentThread.data.text}}                                        

block footer-bar-button
  span(ng-switch="board.userRequestStatus(board.data.currentThread)")
    a.subdued(ng-click='board.requestTransfer(board.data.currentThread)' ng-switch-when="none") 
      i.icon.ion-checkmark-round &nbsp; Request &nbsp; 
    a.subdued.calm(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="requested") 
      i.icon.ion-checkmark-circled &nbsp; Requested &nbsp;   
    a.subdued.balanced(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="accepted") 
      i.icon.ion-checkmark-circled.positive &nbsp; Accepted &nbsp;
    a.assertive.subdued(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="rejected") 
      i.icon.ion-checkmark-circled &nbsp; Rejected &nbsp;            
  i.icon.ion-person-stalker(ng-click='openTransferRequests(board.data.currentThread)') &nbsp; Already go {{board.data.currentThread.requests.length}} &nbsp; 