extends ./layout.jade

block header
   link(href='css/desktop.css', rel='stylesheet')

block content
   .body-left
      ul
        li
          a(href="https://itunes.apple.com/ru/app/ride-better/id945742403?ls=1&mt=8" target="_balnk")
             i.ion-social-apple
        li
          a(href="https://play.google.com/store/apps/details?id=com.ionicframework.ridebetter" target="_balnk")
             i.ion-social-android
        li
          a(href="http://www.windowsphone.com/s?appid=8e18205b-b849-4d41-922b-b5ad2929dc93" target="_blank")
             i.ion-social-windows
        li          
          div.stable.padding-top(style="font-size: 10px") #{version}         
   .body-content
      ion-side-menus
        ion-side-menu(side='right')
          include utils/side-menu
        ion-side-menu-content
          ion-nav-bar.bar-positive.nav-title-slide-ios           
            ion-nav-back-button.button-clear
              i.ion-ios-arrow-left
            ion-nav-buttons(side="right")
              button.button-icon.icon.ion-navicon(menu-toggle="right" style="color: white")
          ion-nav-view
   .body-right
      b Mission contol
      ul
         li(style="text-decoration:line-through;") Amount of snow for last 3 days
         li(style="text-decoration:line-through;") Instant messages
         li(style="text-decoration:line-through;") Webcams
         li Local services list