extends ./layout.jade

block header
   link(href='css/desktop.css', rel='stylesheet')

block content
   .body-left
      ul
         li
            a(href="https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/app/945742403" target="_balnk")
               i.ion-social-apple
         li
            a(href="https://play.google.com/store/apps/details?id=com.ionicframework.ridebetter" target="_balnk")
               i.ion-social-android
         li
            a(href="http://www.windowsphone.com/s?appid=8e18205b-b849-4d41-922b-b5ad2929dc93" target="_blank")
               i.ion-social-windows
   .body-content
      ion-nav-bar.bar-stable.nav-title-slide-ios7
         ion-nav-back-button.button-icon.icon.ion-ios7-arrow-back
      ion-nav-view
   .body-right
      b Mission contol
      ul
         li(style="text-decoration:line-through;") Amount of snow for last 3 days
         li(style="text-decoration:line-through;") Instant messages
         li(style="text-decoration:line-through;") Webcams
         li Local services list