extends ./layout.jade

block header
   link(href='css/desktop.css', rel='stylesheet')

block content
   .body-left
      ul
         li
            i.ion-social-apple
         li
            i.ion-social-android
         li
            i.ion-social-windows
   .body-content
      ion-nav-bar.bar-stable.nav-title-slide-ios7
         ion-nav-back-button.button-icon.icon.ion-ios7-arrow-back
      ion-nav-view
   .body-right
      b Mission contol
      ul
         li Amount of snow for last 3 days
         li Instant messages
         li Local services list

