doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Ride Better

    link(href='css/ionic.css', rel='stylesheet')
    link(href='css/ionicons.css', rel='stylesheet')

    link(href='css/style.css', rel='stylesheet')
    block header

    script(src='lib-bundle/ionic.bundle.min.js')
    script(src="lib-bundle/moment.min.js")
    script(src="lib-bundle/ru.js")
    script(src="lib-bundle/angular-moment.min.js")
    script(src="lib-bundle/angular-cache.min.js")
    script(src="lib-bundle/d3.min.js")
    script(src="lib-bundle/line-chart.min.js")
    script(src="lib-bundle/mobile-detect.min.js")
    script(src="lib-bundle/angular-file-upload-all.min.js")

    if env
        if env.platform == 'cordova'
            script(src='cordova.js')
            if env.debug
                script(src='http://#{env.weinreUrl}/target/target-script-min.js#anonymous')
        else
            script(src="lib/oauth-js/dist/oauth.min.js")
            if env.debug
                script(src="http://localhost:35729/livereload.js")

    script(src='app.js')

    body(ng-app='ride-better')
        block content
        include add/_index
        include main/_index
        include resort/_index
        include faq/_index
        include transfer/_index
        include prices/_index
        include user/_index
        include modals/_index
        include utils/_index
