ion-view(ng-attr-title="{{::resources.str.prices}} - {{::state.spot.title}}")
    ion-content.has-header
        ion-slide-box(ng-if="::prices.length !== 0" does-continue="true")
            ion-slide.box(ng-repeat="price in ::prices")
              .card
                .item.item-divider.text-center
                    i.ion-arrow-left-c(ng-click="movePrev()" style="float: left")
                    | {{::price.title}}
                    i.ion-arrow-right-c(ng-click="moveNext()" style="float: right")
                .item
                  img(width="100%" ng-src="{{::price.thumb}}" open-external="{{::price.src}}" alt="{{::price.title}}")
                .item.item-divider(ng-if="::price.href")
                    div(style="width:100%" open-system="{{::price.href}}")
                        i.ion-ios-browsers-outline


