ion-tabs.tabs-striped.tabs-royal.tabs-light      
    ion-tab(icon='icon ion-upload' ng-click="open('prices.lifts')")
        ion-nav-view(name='prices-lifts')       
    ion-tab(icon='icon ion-clipboard' ng-click="open('prices.rent')")
        ion-nav-view(name='prices-rent') 
    ion-tab(icon='icon ion-coffee' ng-click="open('prices.food')")
        ion-nav-view(name='prices-food') 
    ion-tab(icon='icon ion-settings' ng-click="open('prices.services')")
        ion-nav-view(name='prices-services')

