p.padding-top  
  a.button.button-light.button-small(ng-click="board.openReplyModal(thread, 'create')")
    | #{resources.str.reply}
  |&nbsp;
  a.button.button-light.button-small(ng-click="openReplies(thread)")
    | #{resources.str.replies} {{thread.repliesCount}}
