extends ./_item-layout.jade

block item-layout-content
  span(ng-click='openThread(thread)')  
    h3
      i.ion-alert.assertive(ng-if="::thread.data.meta.priority=='important'") &nbsp;
      i.ion-speakerphone.positive &nbsp;
      | {{thread.formatted.shortText}}
    img(ng-src="{{::thread.formatted.img.thumb}}" style="width: 100%; margin-left: auto;margin-right: auto;display: block;")
