ion-item.item.item-text-wrap
  include item-header
  h3(ng-click='openThread(thread._id)') {{thread.data.meta.summary}}
  p(ng-click='openThread(thread._id)') {{thread.data.text}}
  include item-footer
