extends ./_item-layout.jade

block item-layout-content
  h2(ng-click='openThread(thread._id)')
    i.ion-model-s.royal &nbsp;
    | {{::thread.formatted.transfer.title}}
    | 
    i.ion-location.positive &nbsp;
    | {{::thread.data.meta.from}}     
    br
    span
      i.ion-card 
      | {{::thread.data.meta.price}}
      br        
    span
      i.ion-calendar 
      | {{::thread.formatted.metaDateStrLong}}
      br                            
    a.positive(ng-href="tel:{{::thread.data.meta.phone}}" style="text-decoration: none")
      i.ion-android-call 
      | {{::thread.data.meta.phone}}
  h4.dark(ng-click='openThread(thread._id)') {{::thread.formatted.shortText}}       
    
block footer-bar-button
  span(ng-switch="::thread.formatted.transfer.requestStatus" ng-if="::thread.data.meta.type != 'taxi'")
    a.subdued.calm(ng-switch-when="requested") 
      i.icon.ion-checkmark-round &nbsp; {{::resources.str.requested}}
    a.subdued.positive(ng-switch-when="accepted") 
      i.icon.ion-checkmark-round.positive &nbsp; {{::resources.str.accepted}}
    a.assertive.subdued(ng-switch-when="rejected") 
      i.icon.ion-close-round &nbsp; {{::resources.str.rejected}}
