extends ./_item-layout.jade

block item-layout-content
  h2(ng-click='openThread(thread._id)')
    i.ion-location 
    | {{thread.data.meta.from}} 
    i.ion-calendar 
    | {{thread.data.meta.date | amDateFormat:'dddd, MMMM Do YYYY, HH:00'}}
    br                        
    a.positive(ng-href="tel:{{thread.data.meta.phone}}" ng-if="thread.data.meta.phone" style="text-decoration: none")
      i.ion-iphone 
      | {{thread.data.meta.phone}}
    &nbsp;
    i.ion-model-s 
    | {{thread.data.meta.transport}}
    span(ng-if="thread.data.meta.price")
      &nbsp;                
      i.ion-card 
      | {{thread.data.meta.price}}
    br  
    .item-text-wrap {{thread.data.text}}                                        
