extends ./_item-layout.jade

block item-layout-content
  h2(ng-click='openThread(thread._id)')
    i.ion-model-s.royal &nbsp;
    | {{::thread.formatted.transfer.title}}
    | 
    i.ion-location.positive &nbsp;
    | {{::thread.data.meta.from}}     
    br
    span(ng-if="::thread.data.meta.price")
      i.ion-card 
      | {{::thread.data.meta.price}}
      br        
    span(ng-if="::thread.data.meta.date")      
      i.ion-calendar 
      | {{::thread.formatted.metaDateStrLong}}
      br                            
    a.positive(ng-href="tel:{{::thread.data.meta.phone}}" ng-if="::thread.data.meta.phone" style="text-decoration: none")
      i.ion-android-call 
      | {{::thread.data.meta.phone}}
  h4.dark {{::thread.formatted.shortText}}       
    
block footer-bar-button
  span(ng-switch="thread.formatted.transfer.requestStatus")
    a.subdued.dark(ng-click='board.requestTransfer(thread)' ng-switch-when="none") 
      i.icon.ion-checkmark-round &nbsp; Request &nbsp;
    a.subdued.calm(ng-click='board.unrequestTransfer(thread)' ng-switch-when="requested") 
      i.icon.ion-checkmark-round &nbsp; Requested    
    a.subdued.positive(ng-click='board.unrequestTransfer(thread)' ng-switch-when="accepted") 
      i.icon.ion-checkmark-round.positive &nbsp; Accepted
    a.assertive.subdued(ng-click='board.unrequestTransfer(thread)' ng-switch-when="rejected") 
      i.icon.ion-checkmark-round &nbsp; Rejected            