/* Empty. Add your own CSS if you like */
body
{
    -ms-content-zooming: none;
}

.transparent-background {
    background-color: transparent;
}
.transparent-background-img {
    background: url('../img/bkg/60degree_gray.png') repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-container
{
    background: url('../img/bkg/very-light-sky.png') repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container-sun
{
    background: url('../img/bkg/sky-sun.png') repeat center center fixed;
}

.home-container-light-clouds
{
    background: url('../img/bkg/very-light-sky-br.png') repeat center center fixed;
}

.home-container-clouds
{
    background: url('../img/bkg/cloudy.png') repeat center center fixed;
}

.home-container-snow
{
    background: url('../img/bkg/light_snow.png') repeat center center fixed;
}

.padding-vertical {
    padding-left: 10px;
    padding-right: 10px;
}

.bar.bar-stable {
    background-color: #145fd7;
}

.bar.bar-stable .title
{
    color: #ffffff;
    text-decoration: dotted;
}

.tabs
{
    background-color: #145fd7;
    color: #ffffff;
}

.button-footer
{
    margin: 0!important;
    padding: 0!important;
}


ion-footer-bar.no-padding-footer-bar
{
    border-top-width: 0;
    border-bottom-width: 0;
    border-spacing: 0;
    padding: 0;
}

button.button.button-wide-letters
{
    letter-spacing: 1px;
}

.text-bold
{
    color: #000000;
    text-emphasis: grey;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px rgb(172,193,222);
}

ion-content
{
    background-color: rgb(152,204,241);
}

.list
{
    background-color: transparent;
}

.item
{
    background-color: transparent;;
}

.item-content
{
    background-color: transparent!important;
}

.slider
{
    background-color: transparent;
}

ion-slide
{
    background-color: transparent;
}

textarea, input
{
    margin-left: -5px!important;
}

.slider-pager {
    top: 0;
    bottom: initial;
}

ion-slide h3:first-child
{
    text-align: center;
    margin-top: 20px;
}

/*rgb(172,193,222);*/