/* Empty. Add your own CSS if you like */
body
{
    -ms-content-zooming: none;
}

.transparent-background {
    background-color: transparent;
}
.transparent-background-img {
    background: url('../img/bkg/60degree_gray.png') repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-container
{
    background-image: url('../img/bkg/light-clouds.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: local;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container-sun
{
    background-image: url('../img/bkg/sky-sun.png');
}

.home-container-light-clouds
{
    background-image: url('../img/bkg/light-clouds.jpg');
}

.home-container-clouds
{
    background-image: url('../img/bkg/thick-clouds.jpg');
}

.home-container-snow
{
    background-image: url('../img/bkg/light-snow.png');
}

.padding-vertical {
    padding-left: 10px;
    padding-right: 10px;
}

.button-footer
{
    margin: 0!important;
    padding: 0!important;
}


ion-footer-bar.no-padding-footer-bar
{

    /*background-color: lightcyan;*/

    /*padding: 0;*/

}

button.button.button-wide-letters
{
    letter-spacing: 1px;
}

.text-bold
{
    color: #000000;
    text-emphasis: grey;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px rgb(172,193,222);
}

.slider-pager {
    top: 0;
    bottom: initial;
}

ion-slide h3:first-child
{
    text-align: center;
    margin-top: 20px;
}

.loading-container .loading {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0;
    background-color: transparent;
    padding: 1px;
}

.loading-non-block {
 margin-top: 5px;
 margin-right: 5px;
 font-size: 30px;
 color: darkgrey;
 /*color: black;*/
}

.arrow-more {
    top: 0px;
    right: 3px;
    position: absolute;

    font-size: 25px;
    color: #000000;
}

td-cards {
    display: block;
}

td-card {
    padding-bottom: -1px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    #border: 1px solid #999;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
}


td-card .image {
    position: relative;
}

td-card img {
    max-width: 100%;
    border-radius: 6px;
}

.yes-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(111, 250, 111);
    opacity: 0.5;
}
.no-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(255, 115, 115);
    opacity: 0;
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}