.wrap
  .barGraph
    ul.graph
      span(ng-repeat="item in items")
        h4.graph-legend.trim-text.dark(style="margin: 0") {{item.label}}
        span.graph-barBack
          li.graph-bar(ng-style="item.style")
              

