script(type="text/ng-template", id="resort/resort.html")
	include resort
script(type="text/ng-template", id="resort/resort-main.html")
	include resort-main
script(type="text/ng-template", id="resort/resort-contacts.html")
	include resort-contacts
script(type="text/ng-template", id="resort/resort-maps.html")
	include resort-maps
script(type="text/ng-template", id="resort/resort-prices.html")
	include resort-prices