ion-tabs.tabs-striped.tabs-energized.tabs-light      
    ion-tab(icon='icon ion-ios-world-outline' href='#/resort/main')
        ion-nav-view(name='resort-main')
    ion-tab(icon='icon ion-ios-telephone-outline' href='#/resort/contacts')
        ion-nav-view(name='resort-contacts')
    ion-tab(icon='icon ion-map' href='#/resort/maps')
        ion-nav-view(name='resort-maps')
    ion-tab(icon='icon ion-ios-pricetags-outline' href='#/resort/prices')
        ion-nav-view(name='resort-prices')    

