ion-view(ng-attr-title="{{homeLabel}}")
    ion-nav-buttons(side="left")
        a.button.icon.ion-ios7-home-outline(ui-sref="tab.info")
    ion-content.has-header
        ion-slide-box(ng-if="prices.length !== 0" does-continue="true")
            ion-slide.box(ng-repeat="price in prices")
                img(width="100%" ng-src="{{price.src}}")
                h4 {{price.title}}                  
                h4 {{price.created | amCalendar}}
