ion-tabs.tabs-striped.tabs-energized.tabs-light      
    ion-tab(icon='icon ion-earth' ng-click="open('resort.main')")
        ion-nav-view(name='resort-main')          
    ion-tab(icon='icon ion-android-call' ng-click="open('resort.contacts')")
        ion-nav-view(name='resort-contacts')
    ion-tab(icon='icon ion-videocamera' ng-click="open('resort.webcams')")
        ion-nav-view(name='resort-webcams')
    ion-tab(icon='icon ion-map' ng-click="open('resort.maps')")
        ion-nav-view(name='resort-maps')

