ion-view(ng-attr-title="{{state.spot.title}}")
    ion-content.has-header
        ion-slide-box(does-continue="true" ng-if="resort.maps.length !== 0" id="resort_maps")
            ion-slide.box(ng-repeat="map in resort.maps")
              .card
                .item
                  img(width="100%" ng-src="{{map.src}}" open-external="{{map.src}}")
    ion-footer-bar.bar-positive.bar-clear
        button.button.button-clear.ion-arrow-left-c(ng-click="moveNext()")
        | &nbsp;
        button.button.button-clear.ion-arrow-right-c(ng-click="movePrev()")

                
